<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Post detail">
  <ion-content class="padding">
    <img ng-src="{{post.face}}" style="width: 64px; height: 64px">
    <p>
      {{post.text}}
    </p>
    <div class="padding-vertical" ng-if="post.comments.length">
      <strong>Comments:</strong>
      <ul>
        <li ng-repeat="comment in post.comments">{{comment.user}}: {{comment.text}}</li>
      </ul>
    </div>
    <div class="padding-vertical" ng-if="!post.comments.length"><hr>This post has no comments.</div>
    <form ng-submit="addComment()">
      <div class="list">
        <label class="item item-input">
          <input type="text" ng-model="newComment.text" placeholder="Add a comment">
        </label>
        <button type="submit" ng-disabled="!newComment.text" class="button button-block button-positive">
          Submit
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
